.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
;
}