.cardContent {
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 20px;
    font-weight: 400;
    color: black;
    line-height: 28px;
    margin: 0;
}

.date {
    font-size: 12px;
    line-height: 22px;
    color: rgba(130, 126, 126, 1);
}

.text {
    font-size: 12px;
    line-height: 22px;
    color: black;
    margin-right: 10px;
    display: block;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
}

.ratingWrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}